-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: ops_work_order_system
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `approval_records`
--

DROP TABLE IF EXISTS `approval_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `approval_records` (
  `approver_id` bigint DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `work_order_id` bigint NOT NULL,
  `comments` varchar(255) DEFAULT NULL,
  `status` enum('APPROVED','PENDING','REJECTED') NOT NULL,
  `approved_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_approval_records_work_order_created_at` (`work_order_id`,`created_at` DESC),
  KEY `idx_approval_records_approver_status` (`approver_id`,`status`),
  KEY `idx_approval_records_status_created_at` (`status`,`created_at` DESC),
  CONSTRAINT `FK7o4xnr38kq9mgomjjnqi8358u` FOREIGN KEY (`work_order_id`) REFERENCES `work_orders` (`id`),
  CONSTRAINT `FKpiegtiv1mkj4am4ipxx3d2iqp` FOREIGN KEY (`approver_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approval_records`
--

LOCK TABLES `approval_records` WRITE;
/*!40000 ALTER TABLE `approval_records` DISABLE KEYS */;
INSERT INTO `approval_records` VALUES (1,'2025-06-04 09:48:29.703573',1,1,'1','APPROVED',NULL);
/*!40000 ALTER TABLE `approval_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department_contacts`
--

DROP TABLE IF EXISTS `department_contacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `department_contacts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `is_emergency` bit(1) DEFAULT NULL,
  `is_primary` bit(1) DEFAULT NULL,
  `mobile` varchar(255) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `phone` varchar(255) NOT NULL,
  `position` varchar(255) DEFAULT NULL,
  `remark` varchar(255) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `working_hours` varchar(255) DEFAULT NULL,
  `department_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_department_contacts_dept_active` (`department_id`,`is_active`),
  KEY `idx_department_contacts_emergency_active` (`is_emergency`,`is_active`),
  KEY `idx_department_contacts_primary` (`is_primary`,`department_id`),
  CONSTRAINT `FKhr29u6qa6u2rqd74h247ck8bk` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department_contacts`
--

LOCK TABLES `department_contacts` WRITE;
/*!40000 ALTER TABLE `department_contacts` DISABLE KEYS */;
/*!40000 ALTER TABLE `department_contacts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department_permissions`
--

DROP TABLE IF EXISTS `department_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `department_permissions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `expires_at` datetime(6) DEFAULT NULL,
  `granted_at` datetime(6) DEFAULT NULL,
  `granted_by` varchar(255) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `permission_type` enum('APPROVE_WORK_ORDER','ASSIGN_WORK_ORDER','CONFIG_WORKFLOW','CREATE_WORK_ORDER','DELETE_WORK_ORDER','EDIT_WORK_ORDER','EXPORT_REPORTS','MANAGE_CONTACTS','MANAGE_DEPARTMENT','MANAGE_USERS','REASSIGN_WORK_ORDER','REJECT_WORK_ORDER','SYSTEM_ADMIN','VIEW_DEPARTMENT','VIEW_REPORTS','VIEW_USERS','VIEW_WORK_ORDER') NOT NULL,
  `remark` varchar(255) DEFAULT NULL,
  `department_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK24cmpeuqvbqprsvsdfqif5p20` (`department_id`,`permission_type`),
  KEY `idx_department_permissions_dept_type` (`department_id`,`permission_type`),
  KEY `idx_department_permissions_type_active` (`permission_type`,`is_active`),
  CONSTRAINT `FKnqxfum7b4w8d8t2cfr27gn7tt` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department_permissions`
--

LOCK TABLES `department_permissions` WRITE;
/*!40000 ALTER TABLE `department_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `department_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `code` varchar(255) DEFAULT NULL,
  `contact_person` varchar(255) DEFAULT NULL,
  `contact_phone` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `level` int DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `type` enum('BUSINESS','COUNTY','MUNICIPAL','OPERATIONAL','PROVINCIAL','SUPPORT') DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `parent_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKl7tivi5261wxdnvo6cct9gg6t` (`code`),
  KEY `idx_departments_parent_active` (`parent_id`,`is_active`),
  KEY `idx_departments_type_active` (`type`,`is_active`),
  KEY `idx_departments_level` (`level`),
  CONSTRAINT `FK63q917a0aq92i7gcw6h7f1jrv` FOREIGN KEY (`parent_id`) REFERENCES `departments` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `device_tokens`
--

DROP TABLE IF EXISTS `device_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `device_tokens` (
  `id` int NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `device_info` varchar(500) DEFAULT NULL,
  `device_type` enum('ANDROID','IOS','WEB') NOT NULL,
  `fcm_token` varchar(255) NOT NULL,
  `is_active` bit(1) NOT NULL,
  `last_used_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_device_tokens_user_active` (`user_id`,`is_active`),
  KEY `idx_device_tokens_type_active` (`device_type`,`is_active`),
  KEY `idx_device_tokens_last_used` (`last_used_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `device_tokens`
--

LOCK TABLES `device_tokens` WRITE;
/*!40000 ALTER TABLE `device_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `device_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operation_records`
--

DROP TABLE IF EXISTS `operation_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operation_records` (
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `operator_id` bigint DEFAULT NULL,
  `work_order_id` bigint NOT NULL,
  `comments` varchar(255) DEFAULT NULL,
  `action` enum('COMPLETION','EXECUTION','HANDOVER') NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_operation_records_work_order_created_at` (`work_order_id`,`created_at` DESC),
  KEY `idx_operation_records_operator_action` (`operator_id`,`action`),
  KEY `idx_operation_records_action_created_at` (`action`,`created_at` DESC),
  CONSTRAINT `FK2a953ucfoddmv1otak600kj9s` FOREIGN KEY (`work_order_id`) REFERENCES `work_orders` (`id`),
  CONSTRAINT `FK9qqfdmgem5fpl6dm51uwk3wnt` FOREIGN KEY (`operator_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operation_records`
--

LOCK TABLES `operation_records` WRITE;
/*!40000 ALTER TABLE `operation_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `operation_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transfer_records`
--

DROP TABLE IF EXISTS `transfer_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transfer_records` (
  `id` int NOT NULL AUTO_INCREMENT,
  `accepted_at` datetime(6) DEFAULT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `is_assistance` bit(1) DEFAULT NULL,
  `requested_at` datetime(6) DEFAULT NULL,
  `status` enum('ACCEPTED','CANCELLED','COMPLETED','PENDING','REJECTED') NOT NULL,
  `transfer_comments` text,
  `transfer_reason` varchar(500) DEFAULT NULL,
  `transfer_type` enum('ASSISTANCE_REQUEST','DEPARTMENT_TRANSFER','USER_TRANSFER') NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `accepted_by` int DEFAULT NULL,
  `from_department_id` int DEFAULT NULL,
  `from_user_id` int DEFAULT NULL,
  `requested_by` int NOT NULL,
  `to_department_id` int DEFAULT NULL,
  `to_user_id` int DEFAULT NULL,
  `work_order_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKr1cjo15dxu65y2a1udwy8ukla` (`to_department_id`),
  KEY `idx_transfer_records_status` (`status`),
  KEY `idx_transfer_records_status_created_at` (`status`,`created_at` DESC),
  KEY `idx_transfer_records_work_order_created_at` (`work_order_id`,`created_at` DESC),
  KEY `idx_transfer_records_requested_by_status` (`requested_by`,`status`),
  KEY `idx_transfer_records_from_to_department` (`from_department_id`,`to_department_id`),
  KEY `idx_transfer_records_type_status` (`transfer_type`,`status`),
  KEY `idx_transfer_records_accepted_by` (`accepted_by`),
  CONSTRAINT `FKnbdhv5e237uf38h497tuemn0f` FOREIGN KEY (`from_department_id`) REFERENCES `departments` (`id`),
  CONSTRAINT `FKr1cjo15dxu65y2a1udwy8ukla` FOREIGN KEY (`to_department_id`) REFERENCES `departments` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transfer_records`
--

LOCK TABLES `transfer_records` WRITE;
/*!40000 ALTER TABLE `transfer_records` DISABLE KEYS */;
INSERT INTO `transfer_records` VALUES (1,NULL,NULL,'2025-06-03 15:18:41.270736',_binary '\0','2025-06-03 15:18:41.270736','PENDING',NULL,'1111','USER_TRANSFER','2025-06-03 15:18:41.270736',NULL,9,18,1,7,4,1);
/*!40000 ALTER TABLE `transfer_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `username` varchar(255) NOT NULL,
  `role` enum('ADMIN','MANAGER','OPERATOR') NOT NULL,
  `department_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKr43af9ap4edm43mmtq01oddj6` (`username`),
  KEY `idx_users_department_role` (`department_id`,`role`),
  KEY `idx_users_role` (`role`),
  KEY `idx_users_email` (`email`),
  CONSTRAINT `FKsbg59w8q63i0oo53rlgvlcnjq` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `work_orders`
--

DROP TABLE IF EXISTS `work_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `work_orders` (
  `assigned_to` bigint DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `created_by` bigint NOT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) DEFAULT NULL,
  `department` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `priority` enum('HIGH','LOW','MEDIUM') NOT NULL,
  `status` enum('APPROVED','COMPLETED','IN_PROGRESS','OVERDUE','PENDING') NOT NULL,
  `deadline` datetime(6) DEFAULT NULL,
  `is_overdue` bit(1) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_work_orders_status_created_at` (`status`,`created_at` DESC),
  KEY `idx_work_orders_status_deadline` (`status`,`deadline`),
  KEY `idx_work_orders_assigned_to_status` (`assigned_to`,`status`),
  KEY `idx_work_orders_created_by_created_at` (`created_by`,`created_at` DESC),
  KEY `idx_work_orders_priority_status` (`priority`,`status`),
  KEY `idx_work_orders_overdue_status` (`is_overdue`,`status`),
  KEY `idx_work_orders_type_status` (`type`,`status`),
  KEY `idx_work_orders_department` (`department`),
  CONSTRAINT `FKm24kvbbs7q2qem1v1sk8opca0` FOREIGN KEY (`assigned_to`) REFERENCES `users` (`id`),
  CONSTRAINT `FKpjx6go2keqx7y8idesxp1kvsd` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `work_orders`
--

LOCK TABLES `work_orders` WRITE;
/*!40000 ALTER TABLE `work_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `work_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workflow_steps`
--

DROP TABLE IF EXISTS `workflow_steps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workflow_steps` (
  `id` int NOT NULL AUTO_INCREMENT,
  `assignee_role` enum('ADMIN','MANAGER','OPERATOR','USER') DEFAULT NULL,
  `comments` varchar(255) DEFAULT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `deadline` datetime(6) DEFAULT NULL,
  `is_parallel` bit(1) DEFAULT NULL,
  `is_skippable` bit(1) DEFAULT NULL,
  `started_at` datetime(6) DEFAULT NULL,
  `status` enum('COMPLETED','IN_PROGRESS','PENDING','REJECTED','SKIPPED') NOT NULL,
  `step_name` varchar(255) NOT NULL,
  `step_order` int NOT NULL,
  `step_type` enum('COMPLETION','DEPARTMENT_REVIEW','DIRECTOR_APPROVAL','EXECUTION','MANAGER_APPROVAL','VERIFICATION') NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `assignee_id` int DEFAULT NULL,
  `assignee_department_id` int DEFAULT NULL,
  `work_order_id` int NOT NULL,
  `parallel_group` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_workflow_steps_work_order_step_order` (`work_order_id`,`step_order`),
  KEY `idx_workflow_steps_assignee_status` (`assignee_id`,`status`),
  KEY `idx_workflow_steps_department_status` (`assignee_department_id`,`status`),
  KEY `idx_workflow_steps_status_created_at` (`status`,`created_at` DESC),
  KEY `idx_workflow_steps_type_status` (`step_type`,`status`),
  CONSTRAINT `FKedr992p21uxdxxyswa8mu67ip` FOREIGN KEY (`assignee_department_id`) REFERENCES `departments` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workflow_steps`
--

LOCK TABLES `workflow_steps` WRITE;
/*!40000 ALTER TABLE `workflow_steps` DISABLE KEYS */;
/*!40000 ALTER TABLE `workflow_steps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workflow_template_steps`
--

DROP TABLE IF EXISTS `workflow_template_steps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workflow_template_steps` (
  `id` int NOT NULL AUTO_INCREMENT,
  `assignee_role` enum('ADMIN','MANAGER','OPERATOR','USER') DEFAULT NULL,
  `auto_approve` bit(1) DEFAULT NULL,
  `conditions` varchar(255) DEFAULT NULL,
  `is_parallel` bit(1) DEFAULT NULL,
  `is_skippable` bit(1) DEFAULT NULL,
  `parallel_group` int DEFAULT NULL,
  `step_name` varchar(255) NOT NULL,
  `step_order` int NOT NULL,
  `step_type` enum('COMPLETION','DEPARTMENT_REVIEW','DIRECTOR_APPROVAL','EXECUTION','MANAGER_APPROVAL','VERIFICATION') NOT NULL,
  `time_limit_hours` int DEFAULT NULL,
  `assignee_department_id` int DEFAULT NULL,
  `template_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_workflow_template_steps_template_order` (`template_id`,`step_order`),
  KEY `idx_workflow_template_steps_dept_type` (`assignee_department_id`,`step_type`),
  CONSTRAINT `FKbpnw31s5h98f2i5ri92pkvtbt` FOREIGN KEY (`assignee_department_id`) REFERENCES `departments` (`id`),
  CONSTRAINT `FKhko2gh77u9nvf62xglbdfeu7d` FOREIGN KEY (`template_id`) REFERENCES `workflow_templates` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workflow_template_steps`
--

LOCK TABLES `workflow_template_steps` WRITE;
/*!40000 ALTER TABLE `workflow_template_steps` DISABLE KEYS */;
/*!40000 ALTER TABLE `workflow_template_steps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `workflow_templates`
--

DROP TABLE IF EXISTS `workflow_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `workflow_templates` (
  `id` int NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `template_name` varchar(255) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `work_order_type` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6ohawur72g565ytlvbqt9111a` (`template_name`),
  KEY `idx_workflow_templates_type_active` (`work_order_type`,`is_active`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workflow_templates`
--

LOCK TABLES `workflow_templates` WRITE;
/*!40000 ALTER TABLE `workflow_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `workflow_templates` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-06-18 12:12:26
